@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
    /* font-size: 62.5%; */
}

:root {
    --cor-azul: #C4C7F2;
    --cor-roxa: #AB3EB5;
    --cor-rosa: #FA4958;
    --cor-pink: #FF84A9;
    --cor-laranja: #FB8B24;
    --cor-branca: white;
    --cor-cinza: rgb(80, 80, 80);
}

body {
    max-width: 600px;
    height: 100vh;
}

#hero-container {
    width: 100%;
    height: auto;
    padding: .2rem;
}

#hero-image {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--cor-rosa);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-top: -1rem;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
}

#hero-container > h1 > span {
    color: var(--cor-cinza);
}

#cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

h2 {
    color: var(--cor-cinza);
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    padding-inline: 1rem;
    margin-top: -1rem;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.185);
}

.sp-rosa {
    color: var(--cor-rosa);
}

#form-container {
    width: 85%;
    height: auto;
    padding: .8rem;
    margin-top: 1rem;
    margin-inline: auto;
    background-color: #f5f5f5;
    border: 1px solid var(--cor-cinza);
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

form > p {
    margin-top: .2rem;
}

form > h3 {
    margin-top: -.5rem;
}

form > h3 > a {
    color: var(--cor-rosa);
    text-decoration: none;
    padding-block: .5rem;
}

form > h3 > span {
    color: var(--cor-rosa);
}

input {
    padding: .1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

input:focus {
    border: 1px solid var(--cor-cinza);
}

#idatuacao-box {
    padding: .1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#idatuacao-box:focus {
    border: 1px solid var(--cor-cinza);
}

#btn-cadastrar {
    color: white;
    background-color: var(--cor-rosa);
    font-size: 1rem;
    margin-top: .5rem;
    padding: .5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.445);
}

#btn-cadastrar:hover {
    background-color: #f1707b;
}