@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
    /* font-size: 62.5%; */
}

:root {
    --cor-azul: #C4C7F2;
    --cor-roxa: #AB3EB5;
    --cor-rosa: #FA4958;
    --cor-pink: #FF84A9;
    --cor-laranja: #FB8B24;
    --cor-branca: white;
    --cor-cinza: rgb(80, 80, 80);
}

body {
    max-width: 600px;
    height: 100vh;
}

#hero-container {
    width: 100%;
    height: auto;
    padding: 1rem;
}

#hero-image {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h1 {
    color: var(--cor-rosa);
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    margin-top: -1rem;
}

#hero-container > h1 > span {
    color: var(--cor-cinza);
}

#cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

h2 {
    color: var(--cor-cinza);
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: -1rem;
}

#cadastro-container > h2 > strong {
    color: var(--cor-rosa);
}

#buttons {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

#buttons > a {
    text-decoration: none;
}

button {
    display: block;
    width: 13rem;
    padding: .5rem;
    text-align: center;
    margin-top: .8rem;
    margin-inline: auto;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.cadastrar {
    color: white;
    background-color: var(--cor-rosa);
}

.cadastrar:hover {
    background-color: #f1707b;
}

.visualizar {
    color: white;
    background-color: var(--cor-cinza);
}

.visualizar:hover {
    background-color: rgb(116, 116, 116);
}

h5 {
    font-size: .7rem;
    text-align: center;
    padding-block: .7rem;
}

#cadastro-container > p > a {
    color: var(--cor-cinza);
    font-size: 1rem;
    text-align: center;
}

#cadastro-container > p > a:hover {
    color: var(--cor-rosa);
}
