@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

:root {
    --cor-azul: #C4C7F2;
    --cor-roxa: #AB3EB5;
    --cor-rosa: #FA4958;
    --cor-pink: #FF84A9;
    --cor-laranja: #FB8B24;
    --cor-branca: white;
    --cor-cinza: rgb(80, 80, 80);
}

@media screen and (max-width: 600px) {
    
    body {
        max-width: 600px;
        height: 100vh;
    }
    
    #hero-container {
        width: 100%;
        height: auto;
        padding: .2rem;
    }
    
    #hero-image {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        color: var(--cor-rosa);
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
    }
    
    #hero-container > h1 > span {
        color: var(--cor-cinza);
    }
    
    #cadastro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    h2 {
        color: var(--cor-cinza);
        font-size: 1.1rem;
        font-weight: normal;
        text-align: center;
        padding-inline: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.185);
    }
    
    .sp-rosa {
        color: var(--cor-rosa);
    }
    
    #entidade-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        height: 250px;
        padding: .8rem;
        margin-top: 1rem;
        margin-inline: auto;
        background-color: #f5f5f5;
        border: 1px solid var(--cor-cinza);
        border-radius: 3px;
    }
    
    h3 {
        margin-top: -.5rem;
    }
    
    h3 > a {
        color: var(--cor-rosa);
        text-decoration: none;
        padding-block: .5rem;
    }
    
    #entidade-container > p {
        margin-top: 1rem;
        padding: .3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    }
    
    #entidade-container > p > a {
        font-size: .9rem;
        color: var(--cor-rosa);
        text-decoration-color: var(--cor-rosa);
    }
    
    .sp-entidade {
        margin-inline: 1rem;
        padding-inline: 1.2rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {

    body {
        max-width: 750px;
        height: 100vh;
    }
    
    #hero-container {
        width: 100%;
        height: auto;
        padding: .2rem;
    }
    
    #hero-image {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        color: var(--cor-rosa);
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
    }
    
    #hero-container > h1 > span {
        color: var(--cor-cinza);
    }
    
    #cadastro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    h2 {
        color: var(--cor-cinza);
        font-size: 1.1rem;
        font-weight: normal;
        text-align: center;
        padding-inline: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.185);
    }
    
    .sp-rosa {
        color: var(--cor-rosa);
    }
    
    #entidade-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        height: 250px;
        padding: .8rem;
        margin-top: 1rem;
        margin-inline: auto;
        background-color: #f5f5f5;
        border: 1px solid var(--cor-cinza);
        border-radius: 3px;
    }
    
    h3 {
        margin-top: -.5rem;
    }
    
    h3 > a {
        color: var(--cor-rosa);
        text-decoration: none;
        padding-block: .5rem;
    }
    
    #entidade-container > p {
        margin-top: 1rem;
        padding: .3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    }
    
    #entidade-container > p > a {
        font-size: .9rem;
        color: var(--cor-rosa);
        text-decoration-color: var(--cor-rosa);
    }
    
    .sp-entidade {
        margin-inline: 6rem;
        padding-inline: 1.2rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        max-width: 980px;
        height: 100vh;
    }
    
    #hero-container {
        width: 100%;
        height: auto;
        padding: .2rem;
    }
    
    #hero-image {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        color: var(--cor-rosa);
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
    }
    
    #hero-container > h1 > span {
        color: var(--cor-cinza);
    }
    
    #cadastro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    h2 {
        color: var(--cor-cinza);
        font-size: 1.1rem;
        font-weight: normal;
        text-align: center;
        padding-inline: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.185);
    }
    
    .sp-rosa {
        color: var(--cor-rosa);
    }
    
    #entidade-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 250px;
        padding: .8rem;
        margin-top: 1rem;
        margin-inline: auto;
        background-color: #f5f5f5;
        border: 1px solid var(--cor-cinza);
        border-radius: 3px;
    }
    
    h3 {
        margin-top: -.5rem;
    }
    
    h3 > a {
        color: var(--cor-rosa);
        text-decoration: none;
        padding-block: .5rem;
    }
    
    #entidade-container > p {
        margin-top: 1rem;
        padding: .3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    }
    
    #entidade-container > p > a {
        font-size: .9rem;
        color: var(--cor-rosa);
        text-decoration-color: var(--cor-rosa);
    }
    
    .sp-entidade {
        margin-inline: 6rem;
        padding-inline: 1.2rem;
    }

}

/* declarações p/ notebooks */

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        display: grid;
        grid-template-areas: 
            ". . . ."
            "main main section section"
            "main main section section"
            ". . . .";
        max-width: 1200px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    section {
        display: flex;
        flex-direction: column;
    }
    
    #hero-container {
        width: 100%;
        height: auto;
        padding: .2rem;
    }
    
    #hero-image {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        color: var(--cor-rosa);
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
    }
    
    #hero-container > h1 > span {
        color: var(--cor-cinza);
    }
    
    h2 {
        color: var(--cor-cinza);
        font-size: 1.1rem;
        font-weight: normal;
        text-align: center;
        padding-inline: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.185);
    }
    
    .sp-rosa {
        color: var(--cor-rosa);
    }
    
    #entidade-container {
        width: 100%;
        height: auto;
        padding: 1rem;
        margin-top: 1rem;
        margin-inline: auto;
        background-color: #f5f5f5;
        border: 1px solid var(--cor-cinza);
        border-radius: 3px;
    }
    
    h3 {
        margin-top: -.5rem;
    }
    
    h3 > a {
        color: var(--cor-rosa);
        text-decoration: none;
        padding-block: .5rem;
    }
    
    #entidade-container > p {
        margin-top: 1rem;
        padding: .3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    }
    
    #entidade-container > p > a {
        font-size: .9rem;
        color: var(--cor-rosa);
        text-decoration-color: var(--cor-rosa);
    }
    
    .sp-entidade {
        margin-inline: 6rem;
        padding-inline: 1.2rem;
    }

}

/* declarações p/ desktops */

@media screen and (min-width: 1200px) {

    body {
        display: grid;
        grid-template-areas: 
            ". . . ."
            "main main section section"
            "main main section section"
            ". . . .";
        max-width: 1920px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    section {
        display: flex;
        flex-direction: column;
    }
    
    #hero-container {
        width: 100%;
        height: auto;
        padding: .2rem;
    }
    
    #hero-image {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        color: var(--cor-rosa);
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
    }
    
    #hero-container > h1 > span {
        color: var(--cor-cinza);
    }
    
    h2 {
        color: var(--cor-cinza);
        font-size: 1.1rem;
        font-weight: normal;
        text-align: center;
        padding-inline: 1rem;
        margin-top: -1rem;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.185);
    }
    
    .sp-rosa {
        color: var(--cor-rosa);
    }
    
    #entidade-container {
        width: 100%;
        height: auto;
        padding: 1rem;
        margin-top: 1rem;
        margin-inline: auto;
        background-color: #f5f5f5;
        border: 1px solid var(--cor-cinza);
        border-radius: 3px;
    }
    
    h3 {
        margin-top: -.5rem;
    }
    
    h3 > a {
        color: var(--cor-rosa);
        text-decoration: none;
        padding-block: .5rem;
    }
    
    #entidade-container > p {
        margin-top: 1rem;
        padding: .3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    }
    
    #entidade-container > p > a {
        font-size: .9rem;
        color: var(--cor-rosa);
        text-decoration-color: var(--cor-rosa);
    }
    
    .sp-entidade {
        margin-inline: 6rem;
        padding-inline: 1.2rem;
    }

}